

/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}



body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;
}

strong {
  font-weight: 600;
}


/*
 * Button styles
*/

.button {
  background: #7f8c8d;
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 1px solid #ecf0f1);
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
}


/*
 * Heading
*/

h1 {
  font-size: 1.375rem; /* 22px / 16px */
  color: #666A6C;
}



/*
 * Header and .hero Styles
*/

header {
  background: #FFF;
}

header .logo {
  border-right: 1px solid #DCE0E0;
}

.parallax {
  background-image: url('../images/boston copy.jpg');
  text-align: center;
  height: 500px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.parallax .name img{
  display: block;
  margin: 0 auto;

  width: 80%;
  top: 0; bottom:0; left: 0; right:0;

}


@media only screen and (max-width: 800px){
    .parallax .name img {
      width: 150%;
      padding-right: 50px;
    }
    .parallax{
      height: 500px;
    }
}

/*
 * Info
*/

.about1 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
}

.about2 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.content2 {
  display: inline-block;
  margin: 0 auto;
  margin: 20px;
  text-align: center;
}

@media only screen and (max-width: 800px){
    .content2 img{
      width: 100%;
      height: auto;
    }
}


#rails {
  margin-left: 20px;
  height: 200px;
  width:  165px;
}

.info {
  width: 100%;
  background: #ecf0f1;
  text-align: center;
  padding: 1.5625rem; /* 25px / 16px */
}

.info h1 {
  margin-bottom: .3125rem; /* 5px / 16px */
}

.info .profile {
  margin-bottom: 1.5rem; /* 24px / 16px */
}


.column {
  text-align: center;
}

/*
 * Tools styles
*/

.content-tools{
  margin: 0 auto;
  text-align: center;
}


.details {
  padding: 1.25rem;
}

.details h3 {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 0 1.5rem 0;
  color: rgb(86, 90, 92);
}

.details h4 {
  margin-bottom: 0.625rem;
}


.about a img{
    display: inline;;
    width: 100%;
    height: 100%;
  }



.about img{
  margin-bottom: 8px;
  margin-right: 8px;
}

.details img {

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.details img:hover {
    border: 1px  rgb(245, 245, 245);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


.details img {
    height: auto;
}

.details section {
  border-bottom: 1px solid rgb(220, 224, 224);
  padding: 1rem 0 1.25rem 0;
}

.details .about {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  text-align: center;
}

.details .about p {
  text-align: left;
}

.details .about a.contact {
  margin: 0.9375rem 0; /* 15px / 16px */
  display: block;
}

.details .photos img {
  width: 50%;
  display: block;
  margin-bottom: .5rem;
}


@media only screen and (min-width: 1060px) {


  .container {
    width: 1040px;
    margin: 0 auto;
    text-align: center;
  }

  .column {
     margin: 0 auto;
  }


  .info h1 {
    margin-bottom: .6875rem;
  }

  .info h2 {
    margin-bottom: .1875rem; /* 3px / 16px */
  }

  .info .profile {
    width: 660px;
    text-align: center;
  }

  }


#middle img{
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
}



/* portfolio gallery */

@media screen and (max-width: 780px) {
  .column li a img{
    width: 45%;
    height: 200px;

  }

}

/** media queries **/

.photos {
  text-align: center;
  margin: 0 auto;
}

ul {
  line-height: 1.6;
  list-style-position: inside;
  margin-bottom: 17px;
  margin-left: 35px;
}

.photos ul li {
  list-style: none outside none;
  width: 25%;
  display:inline-block;
  overflow: hidden;
  list-style-type: none;
}

li {
   display: list-item;
  }


.photos img {
  max-width: 100%;
	height: auto;
}
  /*
   * .details styles
  */

  .details .main {
    width: 690px;
  }

  .details h4 {
    width: 46px;
  }

  .details .about {
    text-align: left;
  }
